<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMe_Dazai">
        <activity
            android:name=".DanhsachSP_RecyclerView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DanhSachMonHoc_ListView"
            android:exported="false"/>

        <activity
            android:name=".DoListView"
            android:exported="false" />
        <activity
            android:name=".Casio_Simply"
            android:exported="false" />
        <activity
            android:name=".Bai5_AddActivity"
            android:exported="false" />
        <activity
            android:name=".Bai5_ListActivity"
            android:exported="false" />
        <activity
            android:name=".Bai5_HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Bai4_profileActivity"
            android:exported="false" />
        <activity
            android:name=".Bai3_ListActivity"
            android:exported="false" />
        <activity
            android:name=".Bai2_LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>